<div class="bg-primary text-white p-3 mb-5" id="features-benefits">
    <p style="font-size: 2rem;">EXPLORE ANGULAR RESOURCES</p>
</div>
<!-- the three controlling buttons -->
<div class=" text-center container-fluid row grid">
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-lg m-3"><a class="text-white" routerLink="/Resources">DEVELOPMENT</a>
        </button>

    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-lg m-3">
            <a class="text-white" routerLink="/Education">EDUCATION</a>
        </button>

    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-lg m-3">
            <a class="text-white" routerLink="/Community">CUMMUNITY</a></button>

    </div>
</div>



<!-- the dynamic section -->
<!-- One unit of the structure  -->
<div class="container mb-0">
    <h2 class="title">Books</h2>
    <div class="mt-0"> 
        <a href="#" class="animated-button p-3 thar-three">
<p class="fs-1" style="font-weight:bold;" >Lorem ipsum dolor sit amet consectetur adipisicing.</p>  
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex delectus modi voluptatum sed deserunt omnis nesciunt ipsam voluptatibus pariatur ipsum expedita dolore voluptas non molestiae quos voluptate, est quae veritatis?</p>  
        </a>
     </div>
    <div class="mt-1"> 
        <a href="#" class="animated-button p-3 thar-three">
<p class="fs-1" style="font-weight:bold;" >Lorem ipsum dolor sit amet consectetur adipisicing.</p>  
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex delectus modi voluptatum sed deserunt omnis nesciunt ipsam voluptatibus pariatur ipsum expedita dolore voluptas non molestiae quos voluptate, est quae veritatis?</p>  
        </a>
     </div>
    <div class="mt-1"> 
        <a href="#" class="animated-button p-3 thar-three">
<p class="fs-1" style="font-weight:bold;" >Lorem ipsum dolor sit amet consectetur adipisicing.</p>  
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex delectus modi voluptatum sed deserunt omnis nesciunt ipsam voluptatibus pariatur ipsum expedita dolore voluptas non molestiae quos voluptate, est quae veritatis?</p>  
        </a>
     </div>
    <div class="mt-1"> 
        <a href="#" class="animated-button p-3 thar-three">
<p class="fs-1" style="font-weight:bold;" >Lorem ipsum dolor sit amet consectetur adipisicing.</p>  
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex delectus modi voluptatum sed deserunt omnis nesciunt ipsam voluptatibus pariatur ipsum expedita dolore voluptas non molestiae quos voluptate, est quae veritatis?</p>  
        </a>
     </div>
    <div class="mt-1"> 
        <a href="#" class="animated-button p-3 thar-three">
<p class="fs-1" style="font-weight:bold;" >Lorem ipsum dolor sit amet consectetur adipisicing.</p>  
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex delectus modi voluptatum sed deserunt omnis nesciunt ipsam voluptatibus pariatur ipsum expedita dolore voluptas non molestiae quos voluptate, est quae veritatis?</p>  
        </a>
     </div>
    <div class="mt-1"> 
        <a href="#" class="animated-button p-3 thar-three">
<p class="fs-1" style="font-weight:bold;" >Lorem ipsum dolor sit amet consectetur adipisicing.</p>  
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex delectus modi voluptatum sed deserunt omnis nesciunt ipsam voluptatibus pariatur ipsum expedita dolore voluptas non molestiae quos voluptate, est quae veritatis?</p>  
        </a>
     </div>
    <div class="mt-1"> 
        <a href="#" class="animated-button p-3 thar-three">
<p class="fs-1" style="font-weight:bold;" >Lorem ipsum dolor sit amet consectetur adipisicing.</p>  
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex delectus modi voluptatum sed deserunt omnis nesciunt ipsam voluptatibus pariatur ipsum expedita dolore voluptas non molestiae quos voluptate, est quae veritatis?</p>  
        </a>
     </div>
    <div class="my-1"> 
        <a href="#" class="animated-button p-3 thar-three">
<p class="fs-1" style="font-weight:bold;" >Lorem ipsum dolor sit amet consectetur adipisicing.</p>  
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex delectus modi voluptatum sed deserunt omnis nesciunt ipsam voluptatibus pariatur ipsum expedita dolore voluptas non molestiae quos voluptate, est quae veritatis?</p>  
        </a>
     </div>
</div>


