<div class="bg-primary text-white p-3 mb-5" id="features-benefits">
<p style="font-size: 2rem;">FEATURES & BENEFITS</p>
</div>
<!-- the grid sections -->
<div class="text-center">
<p class="text-primary" style="font-weight: bold; font-size:larger">CROSS PLATFORM</p>
<img src="../../assets/img/angular.png" class="rounded" height="70px" alt="angular-picture">
</div>
<!-- the first grid section -->
<div class="container row">
<div class="col-lg-4 col-sm-12 p-5">
    <h5 style="font-weight: bold; font-size:1.2rem;">Progressive Web Apps</h5>
    
    <p>
        Use modern web platform capabilities to deliver app-like experiences. High performance, offline, and zero-step installation.
    </p>
</div>
<div class="col-lg-4 col-sm-12 p-5">
    <h5 style="font-weight: bold; font-size:1.2rem;">Native</h5>
    <p>
        Build native mobile apps with strategies from Cordova, Ionic, or NativeScript.    </p>
</div>
<div class="col-lg-4 col-sm-12 p-5">
    <h5 style="font-weight: bold; font-size:1.2rem;">Desktop</h5>
    <p>
        Create desktop-installed apps across Mac, Windows, and Linux using the same Angular methods you've learned for the web plus the ability to access native OS APIs.
    </p>
    
</div>

</div>
<hr>
<!-- the second grid section -->
<div class="text-center">
<p class="text-primary" style="font-weight: bold; font-size:larger">SPEED & PERFORMANCE</p>
<img src="../../assets/img/angular.png" class="rounded" height="70px" alt="angular-picture">
</div>
<div class="container row">
<div class="col-lg-4 p-5">
    <h5 style="font-weight: bold; font-size:1.2rem;">Code Generation</h5>
    <p>
        Angular turns your templates into code that's highly optimized for today's JavaScript virtual machines, giving you all the benefits of hand-written code with the productivity of a framework.    </p>
</div>
<div class="col-lg-4 p-5">
    <h5 style="font-weight: bold; font-size:1.2rem;">Universal</h5>
    <p>
        Serve the first view of your application on Node.js®, .NET, PHP, and other servers for near-instant rendering in just HTML and CSS. Also paves the way for sites that optimize for SEO.
    </p>
    </div>
<div class="col-lg-4 p-5">
    <h5 style="font-weight: bold; font-size:1.2rem;">Code Splitting</h5>
    <p>
        Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.    </p>
    
</div>

</div>
<hr>
<!-- the third gird section -->
<div class="text-center">
<p class="text-primary" style="font-weight: bold; font-size:larger">PRODUCTIVITY</p>
<img src="../../assets/img/angular.png" class="rounded" height="70px" alt="angular-picture">
</div>
<div class="container row">
<div class="col-lg-4 p-5">
    <h5 style="font-weight: bold; font-size:1.2rem;">Templates</h5>
    <p>
        Quickly create UI views with simple and powerful template syntax.</div>
<div class="col-lg-4 p-5">
    <h5 style="font-weight: bold; font-size:1.2rem;">Angular CLI</h5>
    <p>
        Command line tools: start building fast, add components and tests, then instantly deploy.    </p>
    </div>
<div class="col-lg-4 p-5">
    <h5 style="font-weight: bold; font-size:1.2rem;">IDEs</h5>
    <p>
        Get intelligent code completion, instant errors, and other feedback in popular editors and IDEs.    
</div>

</div>
<hr>
<!-- the fourth grid section -->
<div class="text-center">
<p class="text-primary" style="font-weight: bold; font-size:larger">FULL DEVELOPMENT STORY</p>
<img src="../../assets/img/angular.png" class="rounded" height="70px" alt="angular-picture">
</div>
<div class="container row">
<div class="col-lg-4 p-5">
    <h5 style="font-weight: bold; font-size:1.2rem;">Testing</h5>
    <p>
        With Karma for unit tests, you can know if you've broken things every time you save    </p>
    </div>
<div class="col-lg-4 p-5">
    <h5 style="font-weight: bold; font-size:1.2rem;">Animation</h5>
    <p>
        Create high-performance, complex choreographies and animation timelines with very little code through Angular's intuitive API.      </p>
    </div>
<div class="col-lg-4 p-5">
    <h5 style="font-weight: bold; font-size:1.2rem;">Accessability</h5>
    <p>
        Create accessible applications with ARIA-enabled components, developer guides, and built-in a11y test infrastructure.  
      </p>   
</div>

</div>
<div class="text-center mb-5">
<button type="button" class="btn btn-primary btn-lg text-center"><a class="text-white" href="#">Get Started</a></button>
</div>