<div class="p-5">
    <div class="text-center">
<h1>Introduction to the Angular Docs</h1>
<p class="mt-2">
    Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.

These Angular docs help you learn and use the Angular framework and development platform, from your first application to optimizing complex single-page apps for enterprises. Tutorials and guides include downloadable examples to accelerate your projects.
</p>
<div class="container row ">
<div class="col-lg-5 onegrid ">
<h4 class="text-primary">What is Angular</h4>
<p class="text-center">
Get a high-level overviewof the Angular platform 
</p>
</div>
<div class="col-lg-5 offset-2 onegrid">
<h4 class="text-primary">Getting Started</h4>
<p>
    Examine and workwith a small ready-made <br>
    Angular app , without any setup
</p>
</div>
<div class="col-lg-5  onegrid">
    <h4 class="text-primary">Learn and Explore</h4>
    <p>
        Learn about the fundamental design concepts and architecture of Angular app
    </p>
    </div>
    <div class="col-lg-5 offset-2 onegrid">
    <h4 class="text-primary">Setup your Environment</h4>
    <p>
        Set up your local environment for development with the Angular CLI .
    </p>
    </div>
    <div class="col-lg-5 offset-4  onegrid">
        <h4 class="text-primary">Hello world</h4>
        <p>
            Work through a full tutorial to create  your first app .
        </p>
        </div>
</div>
</div>
<hr>
<div class="mt-5">
    <h1>Assumptions</h1>
    <p>
        These docs assume that you are already familiar with <a href="#">HTML</a>, <a href="#">CSS</a>, <a href="#">JavaScript</a>, and some of the tools from the <a href="#">latest standards</a>, such as <a href="#">classes</a> and <a href="#">modules</a>. The code samples are written using <a href="#">TypeScript</a>. Most Angular code can be written with just the latest JavaScript, using <a href="#">types</a> for dependency injection, and using <a href="#">decorators</a> for metadata
    </p>
</div>
<hr>
<div class="mt-5">
<h1>Feedback</h1>
<p>
    We want to hear from you. <a href="#">Report problems or submit suggestions for future docs</a>.

Contribute to Angular docs by creating <a href="#">pull requests</a> on the Angular Github repository. See <a href="#">Contributing to Angular</a> for information about submission guidelines.

Our community values respectful, supportive communication. Please consult and adhere to the Code of Conduct.
<a href="#">Code of Conduct</a>
</p>
</div>
</div>